:root {
    --border-size: 10;
    --border-color: #ff5800;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

body {
    width: 1920px;
    height: 1080px;
    margin: 0;
}

.overlay {
    width: 1920px;
    height: 1080px;
    display: grid;
    grid-template:  '.   .     .      .     . ' 10px
                    '.  . video  video   . ' 1fr
                    '.  chat video  video  . ' 300px
                    '.  chat second title . ' 90px 
                    '.   .      .     .     . ' 10px /
                     10px 500px 1fr  400px  10px;
    box-sizing: border-box;
}

.overlay--interview {
    background-color: #fff;
    grid-template:  '.   .     .      .     . ' 10px
                    '.  video video  video   . ' 1fr
                    '.  video video  video  . ' 300px
                    '.  chat second . . ' 200px 
                    '.  chat second title . ' 90px 
                    '.   .      .     .     . ' 10px /
     10px 500px 1fr  400px  10px;
}


.gradient {
    --gradient-direction: 0deg;
    /* background-image: linear-gradient(var(--gradient-direction) ,#D63E3E,#E5AF20, #C5D31E, #35C42F, #38D1D1, #415CCB, #923FC7, #C329AF); */
    background-color: #ff5800;
}

.left-bar {
    grid-row: 1 / -1;
    grid-column: 1 ;
}
.right-bar {
    grid-row: 1 / -1;
    grid-column: -1 / -2;
    --gradient-direction: 180deg;
}
.top-bar {
    grid-row: 1;
    grid-column: 1 / -1;
    --gradient-direction: -90deg;
}
.bottom-bar {
    grid-row: -1 / -2;
    grid-column: 1 / -1;
    --gradient-direction: 90deg;
}

.right-column {
    grid-column: 4;
}

.bar {
    background-color: white;
}

.video {
   grid-area: video;
}

img {
    width: 70%;
}

.top-border {
    border-top:var(--border);
}

.right-column {
    border-left: var(--border);
}

.title {
    grid-area: title;
    background-color: #dad8d8;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

.title-1 {
    color: #878787;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.title-2 {
    color: #878787;
    font-size: 24px;
    font-weight: 700;;
    text-transform: uppercase;
    margin: 0;
}

.chat {
    grid-area: chat;
    border-right: 4px solid #dad8d8;
    
}

.chat__title {
    background-color: #dad8d8;
    color: #878787;
    font-size: 1.5rem;
    padding: 8px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 1;
}

.bordered {
    --border: calc(var(--border-size) * 1px) solid var(--border-color);
}

.secondary {
    grid-area: second;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 853px;
    height: 505px;
    border: 5px solid var(--border-color);
    display: flex;
    align-items: flex-end;
}

.panel-1 {
    margin-right: 30px;
}

.panel__title {
    height: 60px;
    width: 400px;
    background-color: #dad8d8;
}